@font-face {
	font-family: "bootstrap-icons";
	src: url("../fonts/bootstrap-icons.woff2?757e8d3807317fad54e5811fd78f18c8") format("woff2"),
         url("../fonts/bootstrap-icons.woff?757e8d3807317fad54e5811fd78f18c8") format("woff");
  }

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "georgia-italic";
    src: url("../fonts/georgia-italic.ttf") format("truetype");
}

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.dark-mode .page-loading {
    background-color: #121519;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active>.page-loading-inner {
    opacity: 1;
}

.page-loading-inner>span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #6f788b;
}

.dark-mode .page-loading-inner>span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    background-color: #3B43B2;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
    background-color: rgba(255, 255, 255, .25);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

body::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    transition: .3s background;
}

body::-webkit-scrollbar-thumb {
    background: #3B43B2;
}

body:hover::-webkit-scrollbar-thumb {
    background: #3B43B2;
}

.navbar-light .nav-item.active,
.navbar-light .nav-item:hover .nav-link {
    background-color: rgb(59, 67, 178);
    color: #fff;
}

.nav-item .nav-link:hover {
    color: #fff;
}

.dropdown-item:hover {
    padding-left: 10px;
}

.text-montserrat {
    font-family: "Montserrat-Regular";
}

.text-montserrat-bold {
    font-family: "Montserrat-Bold";
}

.bg-course {
    background-image: url("../img/feather/circle-international-team-2.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.bg-course::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.bg-course h1 {
    z-index: 5;
    position: relative;
}

.phd-course {
    margin-top: -4rem;
    z-index: 5;
    text-align: center;
}

.phd-course i {
    font-size: 3rem;
}

.phd-course h3 {
    font-size: 18px;
    font-weight: 800;
}

.phd-course h3:hover a {
    text-decoration: unset;
}

.mba {
    border-right: 1px solid rgba(204, 204, 204, .3);
}

.university-vitez {
    background-color: #F1F3F7;
}

.university-vitez-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
}

.ci-bg-image {
    position: relative;
    background-image: url("../img/feather/testimonial-bg-circle-international.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ci-bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.ci-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
    z-index: 2;
}

.ci-bg p {
    font-size: 1rem;
    z-index: 9999;
    position: relative;
}

.ci-bg h3 {
    font-size: 1.5rem;
    z-index: 9999;
    position: relative;
}

.ci-image-content p,
.ci-image-content h2 {
    z-index: 99;
    position: relative;
    color: #fff;
}

.ci-image-content h2 {
    font-size: 7vw;
}

.ci-image-content h3 {
    z-index: 99;
    position: relative;
    color: #fff;
}

.ci-image-content p {
    font-size: 1.5rem;
}

.ci-bg-image-1 h2 {
    position: absolute;
    right: 1rem;
    bottom: 0;
    line-height: .25;
}

.img-frame {
    position: relative;
}

.img-frame:after {
    content: ' ';
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
    border: 5px solid #fff;
    z-index: 3;
}

.ci-bg-image-1 {
    position: relative;
    background-image: url("../img/feather/testimonial-bg-2.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ci-bg-image-1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b43b2;
    opacity: .7;
    z-index: 2;
}

.img-box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.accordion-item .accordion-button:not(.collapsed)::after {
    margin-top: 9px !important;
}

.accordion:not(.accordion-flush) .accordion-body {
    padding-top: 1.5rem;
}

.accordion-button:not(.collapsed) {
    background-color: #3b43b2;
    color: #fff;
}

.accordion-item h2 {
    font-size: 16px;
}

.team-detail h2 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}

.ci-border {
    flex: 1 1 auto;
    margin: 0 8px;
}

.ci-border a {
    text-align: center;
    padding: 13px 19px;
    color: rgb(59, 67, 178);
    border: 2px solid rgb(59, 67, 178);
    border-radius: 5px;
    word-break: break-all;
    font-size: 14px;
    width: 100%;
    display: block;
}

.ci-border a:hover {
    background-color: rgb(59, 67, 178);
    color: #fff;
    text-decoration: unset;
}

.ci-shadow img {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.btn-2 {
    padding: 0.3076923077rem 1.4615384615rem !important;
}

.btn-fs-2 {
    font-size: .7rem !important;
}

.vc_box_shadow_border {
    padding: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}


.bg-round {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
}

.bg-outline-round {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 50%;
    line-height: 5rem;
}

.accordion-dark-btn {
    background-color: #5472d2;
    color: #fff;
}

.annual-conference .ci-border a {
    padding: 17px 34px;
}


.vc_box_shadow_circle img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.testimonial-border {
    border: 5px solid #ededee;
    margin: 10px;
}

.testimonial p {
    font-family: "georgia-italic";
    font-size: 1rem;
}

.map-bg {
    background-color: #f7f7f7;
    padding: 5px;
}

.ci-bg h3 {
    font-size: 7vw;
    color: #3b43b2;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    line-height: 3.3vw;
    bottom: 5px;
}

.date-icon i {
    color: #5aa1e3;
    font-size: 2.85em;
}




#img-zoomer-box {
    max-width: 500px;
    height: auto;
    position: relative;
    margin: 10px auto;
}

#img-1 {
    width: 100%;
    height: auto;
}

#img-zoomer-box:hover,
#img-zoomer-box:active {
    cursor: zoom-in;
    display: block;
}

#img-zoomer-box:hover #img-2,
#img-zoomer-box:active #img-2 {
    opacity: 1;
}

#img-2 {
    width: 340px;
    height: 340px;
    background: url('../img/photo.avif') no-repeat #FFF;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}

.checkout-social .btn-social {
    height: 27px;
    width: 27px;
    line-height: 10px;
    background-color: #2e3237;
    color: #fff;
    font-size: 13px;
}

.checkout-social .bs-lg>i {
    line-height: 1.625rem;
}


/*slider css start*/

/* .slick-active .from-top,
.slick-active .from-bottom {
	transform: translateY(0);
	opacity: 1;
}

.slick-active .from-left,
.slick-active .from-right {
	transform: translateX(0);
	opacity: 1
} */

.Advance-Slider .item h1{
    animation: fadeIn 1s both;
    /* transform: translateY(-2.25rem); */
	background-color: rgba(255,255,255,0.62);
    display: inline-block;
    padding: 14px;
	font-family: "Raleway-Regular";
	font-size: 55px;
}

.Advance-Slider .item.slick-active h1{
    animation: fadeInDown 1s both 1s;
}

.Advance-Slider .item p{
    animation: fadeIn 2s both;
    /* transform: translateY(-2.25rem); */
	background-color: rgba(255, 255, 255, 0.84);
    display: inline-block;
    padding: 14px;
	font-family: "NunitoSans-Regular";
	color: rgb(65, 86, 116);
}

.Advance-Slider .item.slick-active p{
    animation: fadeInUp 2s both 2s;
}

.Advance-Slider .item .slider-btn{
    animation: fadeOut 3s both;
}

.Advance-Slider .item.slick-active .slider-btn{
    animation: fadeIn 3s both 3s;
}

.Advance-Slider .item .slider-btn1{
    animation: fadeOut 4s both;
}

.Advance-Slider .item.slick-active .slider-btn1{
    animation: fadeIn 4s both 4s;
}

.Advance-Slider .item .vitez-logo{
    animation: fadeIn 5s both;
}

.Advance-Slider .item.slick-active .vitez-logo{
    animation: fadeInRight 5s both 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}




.slick-active .fade-in {
	opacity: 1
}

.Advance-Slider button.slick-arrow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    background: #fff;
    z-index: 99999;
    border: none;
    margin: auto;
    font-size: 0;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.Advance-Slider .img-fill {
    position: relative;
 }

.Advance-Slider button.slick-next.slick-arrow {
    right: 0;
    left: auto;
}

.Advance-Slider button.slick-arrow:before {
    content: "\F284";
    top: 0;
    left: 0;
    margin: auto;
    font-family: "bootstrap-icons";
    font-size: 18px;
}

.Advance-Slider button.slick-next.slick-arrow:before {
    transform: scaleX(-1);
    display: block;
}

.Advance-Slider ul.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Advance-Slider ul.slick-dots li {
    display: inline-block;
    height: auto;
    padding: 0 5px;
    line-height: 0px;
}

.Advance-Slider ul.slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: transparent;
    font-size: 0px;
    padding: 0px;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid #fff;
}

.Advance-Slider ul.slick-dots li.slick-active button {
    background-color: #fff;
}

.Advance-Slider button.slick-arrow {
    perspective: 360px;
}

.Advance-Slider button.slick-arrow .thumb {
    position: absolute;
    height: 100px;
    width: 150px;
    left: 100%;
    top: -28px;
    transform-origin: 0% 0%;
    transform: rotate3d(1, 0, 0, 90deg);
}

.Advance-Slider button.slick-arrow .thumb img {
    height: 100%;
    width: 100%;
}


.Advance-Slider button.slick-next .thumb {
    left: auto;
    right: 100%;
}

.Advance-Slider button.slick-prev .thumb {
    animation: out-left 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-prev.hover-in .thumb {
    animation: in-left 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-next .thumb {
    animation: out-right 300ms ease 0ms 1 forwards;
    transform-origin: 100% 50%;
}

.Advance-Slider button.slick-next.hover-in .thumb {
    animation: in-right 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-prev:hover {
    transform: translateX(-100%);
}

.Advance-Slider button.slick-prev , .Advance-Slider button.slick-next {
    transition: all 0.3s ease;
}

.Advance-Slider button.slick-next:hover {
    transform: translateX(100%);
}

.Advance-Slider ul.slick-dots li button img {
    height: 0;
    width: 20px;
    top: 0;
    object-fit: cover;
    transition: height 0.2s ease 0.2s, width 0.2s ease 0s;
    position: relative;
    left: -50%;
}

.Advance-Slider ul.slick-dots li button a {
    position: absolute;
    height: 90px;
    bottom: calc(100%);
    width: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.2s ease 0.2s;
    padding-bottom: 10px;
}

.Advance-Slider ul.slick-dots li button {
    position: relative;
    display: flex;
    justify-content: center;
}

.Advance-Slider ul.slick-dots li button:hover a {
    width: 140px;
    transition: all 0.3s ease 0s;
}

.Advance-Slider ul.slick-dots li button:hover {
    opacity: 1;
}


.Advance-Slider .item .contain-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.Advance-Slider .item .contain-wrapper .dots-contain {
    display: none;
}



@keyframes in-left{
    from{-webkit-transform:rotate3d(0,1,0,90deg);transform:rotate3d(0,1,0,90deg);}
    to{-webkit-transform:rotate3d(0,0,0,0deg);transform:rotate3d(0,0,0,0deg);}
  }
@keyframes out-left{
    from{-webkit-transform:rotate3d(0,0,0,0deg);transform:rotate3d(0,0,0,0deg);}
    to{-webkit-transform:rotate3d(0,1,0,86deg);transform:rotate3d(0,1,0,86deg);}
  }
  @keyframes in-right{
    from{-webkit-transform:rotate3d(0,-1,0,90deg);transform:rotate3d(0,-1,0,90deg);}
    to{-webkit-transform:rotate3d(0,0,0,0deg);transform:rotate3d(0,0,0,0deg);}
  }
  @keyframes out-right{
    from{-webkit-transform:rotate3d(0,0,0,0deg);transform:rotate3d(0,0,0,0deg);}
    to{-webkit-transform:rotate3d(0,-1,0,86deg);transform:rotate3d(0,-1,0,86deg);}
  }


/*slider css end*/





@media (max-width:1024px) {
    .ci-border {
        margin-bottom: 2rem;
    }
}

@media (max-width:991px) {
    .university-vitez-content {
        position: unset;
        transform: unset;
        padding: 0;
    }

    .nav-item.dropdown i {
        position: absolute;
        right: 1rem;
        top: 0.75rem;
    }

    .ci-bg h3 {
        bottom: -7px;
    }
    .from-top {
        font-size: 30px !important;
    }
    .contain-wrapper .fs-lg {
        font-size: 13px !important;
    } 
    .Advance-Slider .item h1 {
        font-size: 30px;
    }
    .slick-slide img.banner-img {
        height: 400px !important;
    }
}

@media (max-width:767px) {
    .Advance-Slider .item h1 {
        font-size: 18px;
        padding: 8px;
    }
    .Advance-Slider .item p {
        padding: 8px;
    }
    .slider-btn , .slider-btn1{
        padding: 8px 15px !important;
        font-size: 13px;
    }
    .from-top {
        font-size: 23px !important;
    }
    .contain-wrapper .w-50 {
        width: 80% !important;
    }
    .navbar-shadow {
        border-top: unset;
    }

    .navbar {
        padding: 0;
    }

    .navbar-toggler {
        padding: unset;
    }

    .ci-bg-image p {
        font-size: 1rem;
    }

    .ci-border a {
        width: 100%;
        display: block;
        text-align: center;
    }

    .ci-border {
        width: 100%;
    }

    .ci-border {
        margin-bottom: 1rem;
    }

    .ci-bg-image-1 h2 {
        bottom: -8px;
    }

    .ci-image-content p {
        font-size: 1rem;
    }

    .table {
        white-space: nowrap;
    }

    .topbar {
        padding: 1rem 0.9375rem;
    }
    .Advance-Slider button.slick-arrow{
        display: none !important;
    }
    .vitez-logo {
        width: 125px;
        margin-top: 1rem;
    }
}