
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf") format("woff2");
  }
  
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf") format("woff2");
  }

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.dark-mode .page-loading {
    background-color: #121519;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active>.page-loading-inner {
    opacity: 1;
}

.page-loading-inner>span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #6f788b;
}

.dark-mode .page-loading-inner>span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    background-color: #3B43B2;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
    background-color: rgba(255, 255, 255, .25);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

body::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    transition: .3s background;
}

body::-webkit-scrollbar-thumb {
    background: #3B43B2;
}

body:hover::-webkit-scrollbar-thumb {
    background: #3B43B2;
}
.navbar-light .nav-item.active , .navbar-light .nav-item:hover .nav-link{
  background-color: rgb(59,67,178);
  color: #fff;
}
.nav-item .nav-link:hover{
    color: #fff;
}

.dropdown-item:hover{
    padding-left: 10px;
}

.text-montserrat{
    font-family: "Montserrat-Regular";
}
.text-montserrat-bold{
    font-family: "Montserrat-Bold";
}

.bg-course{
    background-image: url("../img/feather/circle-international-team-2.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.bg-course::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.bg-course h1{
    z-index: 9999;
    position: relative;
}

.phd-course {
    margin-top: -4rem;
    z-index: 9999;
    text-align: center;
}

.phd-course i{
   font-size: 3rem;
}

.phd-course h3{
    font-size: 18px;
    font-weight: 800;
}

.phd-course h3:hover a{
    text-decoration: unset;
}

.mba {
    border-right: 1px solid rgba(204,204,204,.3);
}

.university-vitez{
    background-color: #F1F3F7;
}

.university-vitez-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
}

.ci-bg-image{
    position: relative;
    background-image: url("../img/feather/testimonial-bg-circle-international.jpg");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ci-bg-image:after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.ci-bg-image p, .ci-bg-image h3{
    z-index: 9999;
    position:relative;
    color: #fff;
}
.ci-bg-image p{
    font-size: 1.5rem;
}