@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.dark-mode .page-loading {
    background-color: #121519;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active>.page-loading-inner {
    opacity: 1;
}

.page-loading-inner>span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #6f788b;
}

.dark-mode .page-loading-inner>span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    background-color: #3B43B2;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
    background-color: rgba(255, 255, 255, .25);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

body::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    transition: .3s background;
}

body::-webkit-scrollbar-thumb {
    background: #3B43B2;
}

body:hover::-webkit-scrollbar-thumb {
    background: #3B43B2;
}

.navbar-light .nav-item.active,
.navbar-light .nav-item:hover .nav-link {
    background-color: rgb(59, 67, 178);
    color: #fff;
}

.nav-item .nav-link:hover {
    color: #fff;
}

.dropdown-item:hover {
    padding-left: 10px;
}

.text-montserrat {
    font-family: "Montserrat-Regular";
}

.text-montserrat-bold {
    font-family: "Montserrat-Bold";
}

.bg-course {
    background-image: url("../img/feather/circle-international-team-2.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.bg-course::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.bg-course h1 {
    z-index: 9999;
    position: relative;
}

.phd-course {
    margin-top: -4rem;
    z-index: 9999;
    text-align: center;
}

.phd-course i {
    font-size: 3rem;
}

.phd-course h3 {
    font-size: 18px;
    font-weight: 800;
}

.phd-course h3:hover a {
    text-decoration: unset;
}

.mba {
    border-right: 1px solid rgba(204, 204, 204, .3);
}

.university-vitez {
    background-color: #F1F3F7;
}

.university-vitez-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
}

.ci-bg-image {
    position: relative;
    background-image: url("../img/feather/testimonial-bg-circle-international.jpg");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ci-bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f21;
    opacity: .7;
    z-index: 2;
}

.ci-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
    z-index: 2;
}

.ci-bg p {
    font-size: 1rem;
    z-index: 9999;
    position: relative;
}

.ci-bg h3 {
    font-size: 1.5rem;
    z-index: 9999;
    position: relative;
}

.ci-image-content p,
.ci-image-content h3 {
    z-index: 99;
    position: relative;
    color: #fff;
}

.ci-image-content p {
    font-size: 1.5rem;
}

.img-frame {
    position: relative;
}

.img-frame:after {
    content: ' ';
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
    border: 5px solid #fff;
    z-index: 3;
}

.ci-bg-image-1 {
    position: relative;
    background-image: url("../img/feather/testimonial-bg-2.webp");
    background-position: 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ci-bg-image-1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b43b2;
    opacity: .7;
    z-index: 2;
}

.img-box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.accordion-item .accordion-button:not(.collapsed)::after {
    margin-top: 9px !important;
}

.accordion:not(.accordion-flush) .accordion-body {
    padding-top: 1.5rem;
}

.accordion-button:not(.collapsed) {
    background-color: #3b43b2;
    color: #fff;
}

.accordion-item h2 {
    font-size: 16px;
}

.team-detail h2 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}

.ci-border {
    flex: 1 1 auto;
    margin: 0 8px;
}

.ci-border a {
    text-align: center;
    padding: 13px 19px;
    color: rgb(59, 67, 178);
    border: 2px solid rgb(59, 67, 178);
    border-radius: 5px;
    word-break: break-all;
    font-size: 14px;
    width: 100%;
    display: block;
}

.ci-border a:hover {
    background-color: rgb(59, 67, 178);
    color: #fff;
    text-decoration: unset;
}

.ci-shadow img {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.btn-2 {
    padding: 0.3076923077rem 1.4615384615rem !important;
}

.btn-fs-2 {
    font-size: .7rem !important;
}

/*slider css start*/
.Advance-Slider {
    float: left;
    width: 100%;
    overflow: hidden;
}

.Advance-Slider button.slick-arrow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 50px;
    width: 30px;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    border: none;
    margin: auto;
    font-size: 0px;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #fff;
    left: 30px;
}

.Advance-Slider .img-fill {
    position: relative;
    height: 100%;
}

.Advance-Slider .img-fill img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* animation: myMove 10s linear infinite; */
}

.Advance-Slider .item {
    height: 100vh;
    overflow: hidden;
    outline: none;
}

.Advance-Slider button.slick-next.slick-arrow {
    right: 30px;
    left: auto;
}

.Advance-Slider button.slick-arrow:before {
    content: "\F284";
    top: 0;
    left: 0;
    margin: auto;
    font-family: "bootstrap-icons";
    font-size: 18px;
}

.Advance-Slider button.slick-next.slick-arrow:before {
    transform: scaleX(-1);
    display: block;
}

.Advance-Slider .img-fill:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    opacity: 0.5;
}

.Advance-Slider ul.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Advance-Slider ul.slick-dots li {
    display: inline-block;
    height: auto;
    padding: 0 5px;
    line-height: 0px;
}

.Advance-Slider ul.slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #fff;
    border: none;
    font-size: 0px;
    padding: 0px;
    opacity: 0.5;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Advance-Slider ul.slick-dots li.slick-active button {
    opacity: 1;
}

.Advance-Slider button.slick-arrow {
    perspective: 360px;
}

.Advance-Slider button.slick-arrow .thumb {
    position: absolute;
    height: 100px;
    width: 150px;
    left: 132%;
    top: -28px;
    transform-origin: 0% 0%;
    transform: rotate3d(1, 0, 0, 90deg);
}

.Advance-Slider button.slick-arrow .thumb img {
    height: 100%;
    width: 100%;
}

.Advance-Slider button.slick-next .thumb {
    left: auto;
    right: 132%;
}

.Advance-Slider button.slick-prev.hover-out .thumb,
.Advance-Slider button.slick-prev .thumb {
    animation: out-left 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-prev.hover-in .thumb {
    animation: in-left 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-next.hover-out .thumb,
.Advance-Slider button.slick-next .thumb {
    animation: out-right 300ms ease 0ms 1 forwards;
    transform-origin: 100% 50%;
}

.Advance-Slider button.slick-next.hover-in .thumb {
    animation: in-right 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-prev:hover {
    transform: translateX(-100%);
}

.Advance-Slider button.slick-prev {
    transition: all 0.3s ease;
}

.Advance-Slider button.slick-next:hover {
    transform: translateX(100%);
}

.Advance-Slider button.slick-next {
    transition: all 0.3s ease;
}

.Advance-Slider ul.slick-dots li button img {
    height: 0;
    width: 20px;
    top: 0;
    object-fit: cover;
    transition: height 0.2s ease 0.2s, width 0.2s ease 0s;
    position: relative;
    left: -50%;
}

.Advance-Slider ul.slick-dots li button a {
    position: absolute;
    height: 90px;
    bottom: calc(100%);
    width: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.2s ease 0.2s;
    padding-bottom: 10px;
}

.Advance-Slider ul.slick-dots li button {
    position: relative;
    display: flex;
    justify-content: center;
}

.Advance-Slider ul.slick-dots li button:hover img {
    height: 80px;
    width: 140px;
    transition: height 0.2s ease, width 0.2s ease 0.2s;
}

.Advance-Slider ul.slick-dots li button:hover a {
    width: 140px;
    transition: all 0.3s ease 0s;
}

.Advance-Slider ul.slick-dots li button:hover {
    opacity: 1;
}

.Advance-Slider ul.slick-dots li button:before {
    content: '';
    bottom: calc(100% + -10px);
    left: 7px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    opacity: 0;
    transition: 0.3s ease 350ms;
}

.Advance-Slider ul.slick-dots li button:hover:before {
    opacity: 1;
    transition: 0.3s ease 0s;
}

/* .Advance-Slider .item.slick-active {
    animation: Slick-FastSwipeIn 1s both;
} */

.Advance-Slider .item .contain-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Advance-Slider .item .contain-wrapper .dots-contain {
    display: none;
}

.Advance-Slider .item h3 {
    margin: 0px;
    color: #fff;
    font-size: 84px;
    font-weight: 300;
    text-transform: capitalize;
}

.Advance-Slider .item {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.Advance-Slider .item h5 {
    font-size: 32px;
    font-weight: 300;
    padding: 10px 0 0;
    margin: 0;
    text-transform: capitalize;
}

.Advance-Slider .item .contain-wrapper .info {
    text-align: left;
}

.Advance-Slider .item h5 span {
    color: #00BCD4;
}

.Advance-Slider .item h1 span {
    color: rgb(59, 67, 178);
}

.Advance-Slider .item h1 {
    animation: fadeOutRight 1s both;
}

.Advance-Slider .item.slick-active h1 {
    animation: fadeInDown 1s both 1s;
    background-color: rgba(255,255,255,0.62);
    padding: 20px;
    font-size: 55px;
    display: inline-block;
    color: #1B2336;
}

.Advance-Slider .item p {
    background-color: rgba(255,255,255,0.62);
    padding: 20px;
    color: #1B2336;
}

.Advance-Slider .item h5 {
    animation: fadeOutLeft 1s both;
}

.Advance-Slider .item.slick-active h5 {
    animation: fadeInLeft 1s both 1.5s;
}

.Advance-Slider .item h1 , .Advance-Slider .item p{
    font-family: "Raleway-Regular";
}


@keyframes myMove {
    from {
        transform: scale(1.0, 1.0);
        transform-origin: 50% 50%;
    }

    to {
        transform: scale(1.8, 1.9);
        transform-origin: 50% 0%;
    }
}

@keyframes Slick-FastSwipeIn {
    0% {
        transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
    }
}

@keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 86deg);
        transform: rotate3d(0, 1, 0, 86deg);
    }
}

@keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, -1, 0, 86deg);
        transform: rotate3d(0, -1, 0, 86deg);
    }
}

/*slider css end*/

.vc_box_shadow_border{
    padding: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}


.bg-round {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
}

.bg-outline-round {
    border: 1px solid rgba(0,0,0,.1);
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 50%;
    line-height: 5rem;
}

.accordion-dark-btn{
    background-color: #5472d2;
    color: #fff;
}



@media (max-width:1024px){
    .ci-border {
        margin-bottom: 2rem;
    }
}


@media (max-width:991px) {
    .university-vitez-content {
        position: unset;
        transform: unset;
        padding: 0;
    }

   
}

@media (max-width:767px) {
    .ci-bg-image p {
        font-size: 1rem;
    }

    .ci-border a {
        width: 100%;
        display: block;
        text-align: center;
    }

    .ci-border {
        width: 100%;
    }

    .ci-border {
        margin-bottom: 1rem;
    }
}